[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggtwotone"]
	path = ggtwotone
	url = https://github.com/bwanniarachchige2/ggtwotone
